.admin , .team
{
    margin-bottom: 0%;
    overflow-x: hidden !important;
}

.admin input 
{
    width: 60vw;
    padding: 5px;
}

@media only screen and (max-width: 800px)
{
    .team .team-question-grid
    {
        font-size: 2.9vw !important;
    }
    .admin th 
    {
        line-height: 120%;
    }
    .admin 
    {
        width: fit-content !important;
    }
    .team .chakra-heading
    {
        text-align: center;
    }
    .member-grid
    {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;
        column-gap: 0 !important;
        row-gap: 10px;
    }
    .member-grid-flex
    {
        width: 100% !important;
    }
}
@media only screen and (max-width: 300px)
{
    .team-main-box
    {
        width: 90% !important;
    }
}