.history {
  background-image: url('../assests/Roadmap.png') !important;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.option-1 {
  position: relative;
  top: 60%;
  left: 49%;
}

.option-2 {
  position: relative;
  top: 22%;
  right: 13%;
}

.option-3 {
  position: relative;
  bottom: 2%;
  left: 29%;
}

.option-4 {
  position: relative;
  bottom: 20%;
}
