.stories {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.carousel-status {
  display: none;
}
.carousel .control-next.control-arrow:before {
  border-left: 15px solid black;
}

.carousel .control-prev.control-arrow:before {
  border-right: 15px solid black;
}

.carousel .control-dots {
  display: none;
}
